@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Project 5 by TJ Dennis 
    </h1>
    <p>ASP.Net web application with a local database</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Links to other pages</h2>
        <p>
            <!--Local Navigation-->
            <ul>
                <li>@Html.ActionLink("Placeholder 1", "#")</li>
                <li>@Html.ActionLink("Placeholder 2", "#")</li>
                <li>@Html.ActionLink("Placeholder 3", "#")</li>
            </ul>
        </p>
    </div>
   
</div>